<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/sakirsahin/Desktop/MOCKITOASSESSMENT/ShapesTestNG/src/test/java/utils">
        <packages>
            <package name="test"/>
        </packages>
    </test>
</suite>